#tapahtuma, #fav-event {
  display: none;
}

img {
  width: 100%;
  padding-bottom: 1em;
}

h2 {
  margin: 0;
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

#map {
  height: 500px;
  width: auto;
}

.btn-default.favored:hover {
  background-color: hotpink !important;
}

.btn-default.favored {
  background-color: #f67cb9 !important;
}

.btn-default {
  background-color: white !important;
}

.btn-default:hover {
  background-color: #e6e6e6 !important;
}

.favorite span {
  display: none;
}

.favorite.favored span {
  display: inline;
}
